# -------------------
# Ignore Files
# -------------------
.*
~*
.DS_Store
package-lock.json

# -------------------
# Ignore Folders
# -------------------
node_modules/
build/
examples/
test/

# -------------------
# Whitelist
# -------------------
!.babelrc
!.eslintrc.json
!.gitignore
!.npmignore
!.prettierrc.json
!.stylelintrc.json
