// Picker
.picktime {
  position: absolute;
  max-width: 212px;
  direction: ltr;
  display: none;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: 99999;
  outline: 0 none;
  box-sizing: border-box;
  font-family: inherit;
  background: var(--pt-background);
  border: var(--pt-border);
  border-radius: var(--pt-borderRadius);
  box-shadow: var(--pt-boxShadow);
  padding: var(--pt-padding);

  &::before,
  &::after {
    box-sizing: border-box;
  }

  &--active {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
  }

  &--clock-24 {
    .picktime__meridiem {
      display: none;
    }
  }

  &--animation-fade {
    animation: picktime-fade 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  &--animation-drop {
    animation: picktime-drop 0.3s cubic-bezier(0.17, 0.84, 0.44, 1) both;
  }

  * {
    box-sizing: border-box;
    font-family: inherit;

    &::before,
    &::after {
      box-sizing: border-box;
    }
  }
}

// Picker Body
.picktime__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

// Hour, Minute & Dots
.picktime__box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--input {
    width: 58px;
    height: 58px;
    padding: 5px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    outline: 0 none;
    box-shadow: none;
    color: var(--pt-input-color);
    font-size: var(--pt-input-fontSize);
    background: var(--pt-input-background);
    border: var(--pt-input-border);
    border-radius: var(--pt-input-borderRadius);
    transition: border-color 0.2s ease-in, background-color 0.2s ease-in;

    &:focus {
      border-color: var(--pt-inputFocus-borderColor);
      background: var(--pt-inputFocus-background);
      box-shadow: var(--pt-inputFocus-boxShadow);
    }

    &::selection {
      background: transparent;
    }
  }

  &--dots {
    display: flex;
    flex-direction: column;
    margin: 0 8px;
    user-select: none;

    &-dot {
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 30px;
      background: var(--pt-dots-color);

      &:not(:last-of-type) {
        margin: 0 0 12px;
      }
    }
  }
}

// Meridiem
.picktime__meridiem {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 58px;
  margin: 0 0 0 10px;
  overflow: hidden;
  border: var(--pt-meridiem-border);
  border-radius: var(--pt-meridiem-borderRadius);

  &--label {
    position: relative;
    display: block;
    width: 100%;
    outline: 0 none;
    max-height: 50px;
    user-select: none;

    &:not(:last-of-type) {
      border-bottom: var(--pt-meridiemLabel-border);
    }

    &:focus {
      .picktime__meridiem--span {
        color: var(--pt-meridiemSpanHover-color);
        background: var(--pt-meridiemSpanHover-background);
      }
    }
  }

  &--span {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--pt-meridiemSpan-color);
    font-size: var(--pt-meridiemSpan-fontSize);
    padding: 6px 5px;
    line-height: 1;
    cursor: pointer;
    transition: color 0.2s ease-in, background-color 0.2s ease-in;

    &:hover {
      color: var(--pt-meridiemSpanHover-color);
      background: var(--pt-meridiemSpanHover-background);
    }
  }

  &--radio {
    width: 0;
    height: 0;
    opacity: 0;
    display: none;
    appearance: none;
    border-radius: 0;
    user-select: none;
    pointer-events: none;

    &:checked + .picktime__meridiem--span {
      color: var(--pt-meridiemChecked-color);
      background: var(--pt-meridiemChecked-background);
    }
  }
}
