@use 'sass:color';

.picktime--dark {
  // Main
  --pt-background: #{$dark};
  --pt-foreground: #{$light};

  // PickTime
  --pt-border-color: #{color.adjust($dark, $lightness: -5%)};
  --pt-box-shadow-color: #{color.adjust($dark, $alpha: -0.55)};

  // Input
  --pt-input-color: var(--pt-foreground);
  --pt-input-background: var(--pt-background);
  --pt-input-border-color: #{color.adjust($dark, $lightness: 15%)};
  --pt-input-focus-border-color: #{color.adjust($dark, $lightness: 25%)};
  --pt-input-focus-background: #{color.adjust($dark, $lightness: 5%)};

  // Dots
  --pt-dots-color: #{color.adjust($light, $alpha: -0.2)};

  // Meridiem
  --pt-meridiem-color: #{$light};
  --pt-meridiem-hover-color: #{$light};
  --pt-meridiem-hover-background: #{color.adjust($dark, $lightness: 5%)};
  --pt-meridiem-checked-color: var(--pt-background);
  --pt-meridiem-checked-background: var(--pt-foreground);
}
