.picktime--dark {
  $primary: #eaeaee;

  // Primary
  --pt-primary: #{$primary};

  // PickTime
  --pt-background: #1e0f3d;
  --pt-bordercolor: #1e0f3d;
  --pt-boxshadowcolor: #{rgba(#1e0f3d, 0.6)};

  // Input
  --pt-input-color: #{rgba(#fff, 0.88)};
  --pt-input-background: #1e0f3d;
  --pt-input-bordercolor: #{rgba($primary, 0.2)};
  --pt-inputfocus-bordercolor: #{rgba($primary, 0.4)};
  --pt-inputfocus-background: #{rgba($primary, 0.08)};
  --pt-inputfocus-boxshadowcolor: #{rgba($primary, 0.3)};

  // Dots
  --pt-dots-color: #{rgba(#fff, 0.88)};

  // Meridiem
  --pt-meridiemspan-color: #{rgba(#fff, 0.6)};
  --pt-meridiemspanhover-color: var(--pt-primary);
  --pt-meridiemspanhover-background: #{rgba($primary, 0.08)};
  --pt-meridiemchecked-background: #{rgba($primary, 0.2)};
}
