@use 'sass:color';

.picktime--theme-light {
  $dark: #23232b;
  $light: #fff;

  // Main
  --pt-background: #{$light};
  --pt-foreground: #{$dark};

  // PickTime
  --pt-border-color: #{color.adjust($dark, $lightness: 75%)};
  --pt-box-shadow-color: #{color.adjust($dark, $alpha: -0.9)};

  // Input
  --pt-input-color: #{$dark};
  --pt-input-background: var(--pt-background);
  --pt-input-border-color: #{color.adjust($dark, $lightness: 75%)};
  --pt-input-focus-border-color: #{color.adjust($dark, $lightness: 50%)};
  --pt-input-focus-background: #{color.adjust($dark, $lightness: 82%)};

  // Dots
  --pt-dots-color: #{color.adjust($dark, $alpha: -0.2)};

  // Meridiem
  --pt-meridiem-color: #{$dark};
  --pt-meridiem-hover-color: #{$dark};
  --pt-meridiem-hover-background: #{color.adjust($dark, $lightness: 80%)};
  --pt-meridiem-border-color: var(--pt-input-border-color);
  --pt-meridiem-checked-color: var(--pt-background);
  --pt-meridiem-checked-background: var(--pt-foreground);
  --pt-meridiem-checked-border-color: var(--pt-background);
}
