.picktime--light {
  $primary: #09090b;

  // Primary
  --pt-primary: #{$primary};

  // PickTime
  --pt-background: var(--pt-white);
  --pt-bordercolor: #dfdfe5;
  --pt-boxshadowcolor: #{rgba($primary, 0.05)};

  // Input
  --pt-input-color: #{$primary};
  --pt-input-background: var(--pt-white);
  --pt-input-bordercolor: #{rgba($primary, 0.1)};
  --pt-inputfocus-bordercolor: #{rgba($primary, 0.5)};
  --pt-inputfocus-background: var(--pt-white);

  // Dots
  --pt-dots-color: #{rgba($primary, 0.5)};

  // Meridiem
  --pt-meridiemspan-color: #{rgba($primary, 0.5)};
  --pt-meridiemspanhover-color: #{$primary};
  --pt-meridiemspanhover-background: #{rgba($primary, 0.08)};
  --pt-meridiemchecked-color: var(--pt-white);
  --pt-meridiemchecked-background: #{$primary};
}
